{% extends "comm_base.html" %}
{% block mainbody %}

    <div class="container">
        <table class="table">
          <caption>我的点单</caption>
          <thead>
            <tr>
              <th>已点菜品</th>
            </tr>
          </thead>
          <tbody>
          {% for dish in dishes %}
            <tr>
              <td>{{ dish.0 }}</td>
              <td><a class="btn btn-primary" href="/cart?dish_id={{ dish.3 }}&shop={{ dish.1 }}">删除</a></td>
              <td>
                <form class="form-inline">
                  <input type="text" style="display:none" name="dish_id" value="{{ dish.3 }}">
                  <input type="text" name="comment" class="form-control" placeholder="{% if dish.4 %}{{ dish.4 }}{% else %}添加备注...{% endif %}">
                  <button type="submit" class="btn btn-primary">提交备注</button>
                </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
