<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>点单页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/statics/css/common.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#menu_top">点单</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          {% if is_admin %}
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎您，{{ username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/shop_admin">饭店管理</a></li>
                    <li><a href="/user_upload">导入用户</a></li>
                      <li><a href="/summary">点单统计</a></li>
                    <li><a href="/reset">重置密码</a></li>
                    <li><a href="/change">修改管理员密码</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout">登出</a></li>
                </ul>
              </li>
             </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎您，{{ username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/cart">我的点单</a></li>
                  <li><a href="/change">修改密码</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout">登出</a></li>
                </ul>
              </li>
             </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
       {% if dish %}
          <div class="alert alert-success"> "{{ dish }}" 已加入<a href="/cart">我的选单</a></div>
          {% endif %}
        <div class="jumbotron">
        <h1></h1>
        <h1 id="menu_top">{{ hello }}</h1>

        <!--<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>-->
      </div>
        <div class="row">
            <span class="col-sm-4">
                <a href="#shop_1_list"><h1>{{  shop1_name }}</h1></a>
            </span>
            <span class="col-sm-4">
                <a href="#shop_2_list"><h1>{{  shop2_name }}</h1></a>
            </span>
            <span class="col-sm-4">
                <a href="#shop_3_list"><h1>{{  shop3_name }}</h1></a>
            </span>
        </div>
      <div class="row">
        <div class="col-sm-4">
          <div id="shop_1_list" class="list-group">
            {% for item in shop1 %}
              <div class="list-group-item row">
                  <img src="{{ item.4 }}" alt="菜单图片" class="img-rounded col-xs-4 img-responsive">
                  <div class="col-xs-8 container-fluid">
                      <div class="row">
                          <span>{{ item.1 }}</span>
                      </div>
                      <div class="row">
                          <span>{{ item.3 }}</span>
                      </div>
                      <!--<a href="/menu?dish={{ item.1 }}&shop=1" class="row">{{ item.1 }}</a>-->
                      <div class="row" style="vertical-align:bottom;">
                          <button class="btn col-xs-2 col-xs-offset-6" id="{{ item.5 }}less">-</button>
                          <input id="{{ item.5 }}text" class="btn col-xs-2" value="0">
                          <button id="{{ item.5 }}add" class="btn col-xs-2">+</button>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-4">
          <div id="shop_2_list" class="list-group">
            {% for item in shop2 %}
              <div class="list-group-item row">
                  <img src="{{ item.4 }}" alt="菜单图片" class="img-rounded col-xs-4 img-responsive">
                  <div class="col-xs-8 container-fluid">
                      <div class="row">
                          <span>{{ item.1 }}</span>
                      </div>
                      <div class="row">
                          <span>{{ item.3 }}</span>
                      </div>
                      <!--<a href="/menu?dish={{ item.1 }}&shop=1" class="row">{{ item.1 }}</a>-->
                      <div class="row" style="vertical-align:bottom;">
                          <button class="btn col-xs-2 col-xs-offset-6" id="{{ item.5 }}less">-</button>
                          <input id="{{ item.5 }}text" class="btn col-xs-2" value="0">
                          <button id="{{ item.5 }}add" class="btn col-xs-2">+</button>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-4">
          <div id="shop_3_list" class="list-group">
            {% for item in shop3 %}
              <div class="list-group-item row">
                  <img src="{{ item.4 }}" alt="菜单图片" class="img-rounded col-xs-4 img-responsive">
                  <div class="col-xs-8 container-fluid">
                      <div class="row">
                          <span>{{ item.1 }}</span>
                      </div>
                      <div class="row">
                          <span>{{ item.3 }}</span>
                      </div>
                      <!--<a href="/menu?dish={{ item.1 }}&shop=1" class="row">{{ item.1 }}</a>-->
                      <div class="row" style="vertical-align:bottom;">
                          <button class="btn col-xs-2 col-xs-offset-6" id="{{ item.5 }}less">-</button>
                          <input id="{{ item.5 }}text" class="btn col-xs-2" value="0">
                          <button id="{{ item.5 }}add" class="btn col-xs-2">+</button>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <a class="btn btn-primary btn-lg navbar-fixed-bottom" id="submit_order">提交订单</a>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
        {% for shop in shop_list %}
            {% for item in shop %}
                $("#{{ item.5 }}less").click(function(){
                    dish_num=$("#{{ item.5 }}text").val();
                    if(dish_num > 0){
                        dish_num--;
                    }
                    $("#{{ item.5 }}text").val(dish_num);
                    dish=$("#submit_order").data("dish_info");
                    if(dish){
                        dish.n{{ item.5 }} = dish_num;
                    }else{
                        dish = {"n{{ item.5 }}":dish_num }
                    }
                    $("#submit_order").data("dish_info", dish);
                });
                $("#{{ item.5 }}add").click(function(){
                    dish_num=$("#{{ item.5 }}text").val()
                    dish_num++;
                    $("#{{ item.5 }}text").val(dish_num);
                    dish=$("#submit_order").data("dish_info");
                    if(dish){
                        dish.n{{ item.5 }} = dish_num;
                    }else{
                        dish = {"n{{ item.5 }}":dish_num }
                    }
                    $("#submit_order").data("dish_info", dish);
                });
            {% endfor %}
        {% endfor %}
            $("#submit_order").click(function(){
                dish_info = $("#submit_order").data("dish_info");
                $("#submit_order").hide();
                $.post("/submit_order", dish_info, function(){
                    alert("已提交");
                    $("#submit_order").show()
                });
            });
        });
    </script>
  </body>
</html>
