<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>点单统计</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link href="/statics/css/common.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" media="all" href="/statics/css/daterangepicker.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/menu">点单</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎您，{{ username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/shop_admin">饭店管理</a></li>
                  <li><a href="/summary">点单统计</a></li>
                  <li><a href="/reset">重置密码</a></li>
                  <li><a href="/change">修改管理员密码</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout">登出</a></li>
                </ul>
              </li>
             </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h3>{{ hello }}</h3>
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="demo">
                            <label for="range_picker">选择日期</label>
                            <input class="form-control" type="text" id="range_picker">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="query_name">用户名</label>
                        <input type="text" class="form-control" id="query_name" placeholder="需要查询的用户名">
                    </div>
                    <button id="submit_post" class="btn btn-default">查询</button>
                </form>
            </div>
        <!--<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>-->
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h1>{{  shop1_name }}</h1>
          <div class="list-group">
            {% for item in shop1 %}
                <a href="#" class="list-group-item">{{ item.0 }}<p>数量： {{ item.1 }}</p></a>
            {% endfor %}
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

    </div><!-- /.container -->
    <style type="text/css">
      .demo { position: relative; }
      .demo i {
        position: absolute; bottom: 10px; right: 10px; top: auto; cursor: pointer;
      }
    </style>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--date picker js-->
    <script type="text/javascript" src="/statics/js/moment.js"></script>
    <script type="text/javascript" src="/statics/js/daterangepicker.js"></script>
    <script>
        $('#range_picker').daterangepicker({
            "startDate": "07/28/2017",
            "endDate": "08/03/2017"
        }, function(start, end, label) {
            console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
            date_info = {'start':start.format('YYYY-MM-DD'), 'end':end.format('YYYY-MM-DD')};
            $("#submit_post").data('submit_data',date_info);
        });
        $("#submit_post").click(function(){
            submit_data = $("#submit_post").data('submit_data')
            $.post("/summary_custom", submit_data, function(){
                    alert("已提交");
            });
        });
    </script>
  </body>
</html>
