{% extends "admin_base.html" %}
{% block mainbody %}
    <div class="container">
        <div class="jumbotron">
        <h1></h1>
        <h1>{{ hello }}</h1>
          {% if comments %}
          <table class="table">
          <caption>备注</caption>
          <thead>
            <tr>
              <th>备注用户</th>
              <th>备注菜品</th>
              <th>备注内容</th>
            </tr>
          </thead>
          <tbody>
            {% for comment in comments %}
            <tr>
              <td>{{ comment.1 }}</td>
              <td>{{ comment.2 }}</td>
              <td>{{ comment.0 }}</td>
            </tr>
          {% endfor %}
          </tbody>
          </table>
          {% endif %}
        <!--<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>-->
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h1>{{  shop1_name }}</h1>
          <div class="list-group">
            {% for item in shop1 %}
                <a href="#" class="list-group-item">{{ item.0 }}<p>数量： {{ item.1 }}</p></a>
            {% endfor %}
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <h1>{{  shop2_name }}</h1>
          <div class="list-group">
            {% for item in shop2 %}
               <a href="#" class="list-group-item">{{ item.0 }}<p>数量： {{ item.1 }}</p></a>
            {% endfor %}
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <h1>{{  shop3_name }}</h1>
          <div class="list-group">
            {% for item in shop3 %}
              <a href="#" class="list-group-item">{{ item.0 }}<p>数量： {{ item.1 }}</p></a>
            {% endfor %}
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
