{% extends "admin_base.html" %}
{% block mainbody %}
    <div class="container">
        <div class="jumbotron">
            <h3>{{ hello }}</h3>
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="demo">
                            <label for="range_picker">选择日期</label>
                            <input class="form-control" type="text" id="range_picker">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="query_name">用户名</label>
                        <input type="text" class="form-control" id="query_name" placeholder="需要查询的用户名">
                    </div>
                    <div id="submit_post" class="btn btn-default">查询</div>
                </form>
            </div>
        <!--<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>-->
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div id="summary_list" class="list-group">
            {% for item in summary_data %}
                <a href="#" class="list-group-item">{{ item.0 }}<p>数量： {{ item.1 }}</p></a>
            {% endfor %}
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

    </div><!-- /.container -->
    <link rel="stylesheet" type="text/css" media="all" href="/statics/css/daterangepicker.css" />
    <style type="text/css">
      .demo { position: relative; }
      .demo i {
        position: absolute; bottom: 10px; right: 10px; top: auto; cursor: pointer;
      }
    </style>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--date picker js-->
    <script type="text/javascript" src="/statics/js/moment.js"></script>
    <script type="text/javascript" src="/statics/js/daterangepicker.js"></script>
    <script>
        $('#query_name').change(function(){
            submit_data = $("#submit_post").data('submit_data')
            if(submit_data){
                submit_data.user = $('#query_name').val();
            }else{
                submit_data = {'user':$('#query_name').val()}
            }
            $("#submit_post").data('submit_data',submit_data);
        });
        $('#range_picker').daterangepicker({}, function(start, end, label) {
            date_info = {'start':start.format('YYYY-MM-DD'), 'end':end.format('YYYY-MM-DD')};
            $("#submit_post").data('submit_data',date_info);
            submit_data = $("#submit_post").data('submit_data')
            submit_data.user = $('#query_name').val();
        });
        $("#submit_post").click(function(){
            submit_data = $("#submit_post").data('submit_data')
            $.ajax({
                type:"POST",
                url:"/ajax_summary",
                data:submit_data,
                success: function(ret){
                    $("#summary_list").empty()
                 $.each(ret, function(i,item){
                    $("#summary_list").append('<a href="#" class="list-group-item">' + item[0] + '<p>价格： ' + item[1] + '</p></a>')
                 });
                }
            });
        });
    </script>
{% endblock %}